# Ignore database files and outputs
data/
output/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.env/
venv/

# IDE/editor folders
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log
